<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}</div>
    <p>{{company}}</p>
    <img class="photosize" src = "/img/tingloy.jpg">
    <footer>{{>footer}}</footer>
</body>

</html>